* {
  box-sizing: border-box;
}
main {
  height: 100vh;
}
.desktop-nav,
.nav-list,
.bg-desktop,
.footer-desktop {
  display: none;
}
body {
  margin: 0;
  font-family: "Public Sans";
  background-color: hsl(0, 0%, 98%);
}

.mobile-nav {
  margin: 0;
  padding: 1em;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-topnav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
}
.nav-list, .desktop-nav > ul{
    color: lightgray;
    cursor: pointer;
}
ul > li > a{
    color: gray;
    text-decoration: none;
}
a{
    text-decoration: none;
}
#overlay {
  /*overlay effect*/
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.nav-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  position: absolute;
  top: 60px;
}
.nav-list {
  padding: 0;
  border-radius: 10px;
  width: 90%;
  flex-direction: column;
  background-color: white;
}
.nav-list > li {
  padding: 1em;
  text-align: center;
}
.img-bg {
  position: relative;
  z-index: -1;
}
.mockup {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  margin: 0;
  display: block;
}
button {
    color: white !important;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 1em;
  border-radius: 25px;
  border: none;
  color: #fff;
  width: 35%;
  margin: 2em 0;
  justify-content: center;
}
button > a{
    color: #fff;
}
.sec-intro > p, .features > p{
    margin: 1em 0;
    margin-bottom: 2em;
    text-align: center;
}
div > h1,
p {
  text-align: center;
}
h1{
    font-size: 3em;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}
h2,
h3 {
  font-size: 2em;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

h3 {
  font-size: 1.5em;
}
h2 {
  margin: 0.5em 0;
}
.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-div > p {
  text-align: center;
 
}

p {
  color: gray;
  padding: 0.5em;
  margin: 0;
  font-size: 1em;
}
.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second-container > div {
  text-align: center;
  padding: 32px;
}
.second-container > h2 {
  text-align: center;
}

.articles > h2 {
  text-align: center;
}


.articles > div > i,
p {
  padding: 0;
  text-align: left;
  
}
.article {
  background-color: white;
  border-radius: 15px;
 display: flex;
 flex-direction: column;
 margin-bottom: 3em;
}
.featured{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.article > img {
   
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
h3 {
  padding: 0.5em 0;
  margin: 0;
  margin-left: .5em;
}
.featured >h2{
text-align: center;
}
.article > p{
    margin: 0;
    margin-left: 1em;
    margin-bottom: 4em;
}
i{
    margin-left: 1em;
    font-size: 12px;
    color: rgb(98, 96, 96);
    margin-top: 2.5em;
    font-style: normal;
}
.features > p {
  padding: 0.2em;
  color: gray;
}
footer {
  width: 100%;
  background-color: hsl(233, 26%, 24%);
}
.footer-mobile,
.icons {
    color: lightgray;
  text-align: center;
  padding: 0;
  line-height: 2em;
}
.icons {
    padding-top:2em;
  display: flex;
  width: 100vw;
  justify-content: center;
}
.icons > li {
  margin: 0.5em;
}
.button-footer {
  display: none;
}
.mobile {
  width: 100%;
}
.copyright {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright > i {
  margin: 1.5em 0;
  color: gray;
}

li {
  list-style: none;
}
.attribution {
  background-color: hsl(233, 26%, 24%);
}
.reachout-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1em;
}
@media screen and (min-width: 900px) {
  * {
    overflow-x: hidden;
  }
  .mobile-nav,
  .bg-mobile,
  .mobile,
  .copyright {
    display: none;
  }
  .desktop-nav {
    display: flex;
    position: relative;
    width: 100%;
    background-color: white;
    padding: 1em;
    justify-content: space-between;
  }
  .img-bg {
    display: block;
    width: 50%;
  }
  .desktop-nav > img {
    margin-left: 4em;
  }
  button{
    color: #fff !important;
  }
  .mockup {
    width: 100%;
    position: relative;
    top: -100px;
    left: 112px;
    z-index: 1;
  }
  .first-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
  }
  .img-bg {
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: 180%;
    background-position-x: 5%;
    background-position-y: 95%;
  }
  .first-div {
    display: flex;
    justify-content: center;
    width: 40vw;
  }

  .first-div > p {
    max-width: 65%;
    text-align: left;
    padding: 2em 0em;
  }
  .first-div > h1 {
    text-align: left;
    margin: 0;
  }

  .desktop-nav > ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav > button {
    width: 15%;
  }

  .desktop-logo {
    width: 250px;
    height: 40px;
  }

  .features-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.1em;
    margin-top: 3em;
  }
  .contain {
    margin-left: 1em;
    width: 86%;
    padding: 0;
  }
  .second-container > div {
    padding: 0;
  }
  .sec-intro > p {
    width: 50%;
    line-height: 1.5em;
    padding: 0;
  }
  .sec-intro > h2 {
    font-size: 2em;
    padding: 0;
  }

  .second-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(220, 16%, 96%);
    z-index: -1;
    position: relative;
    top: -20px;
    padding: 1em;
    width: 100%;
  }
  .second-container > div,
  h2 {
    text-align: left;
  }

  .features {
    width: 200px;
  }
  .featured {
    width: 86%;
    margin: 3em;
  }
  .articles > h2 {
    text-align: left;
    font-size: 2em;
  }
  .article-list {
    display: flex;
  }
  .article-list > .article {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .articles {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .article > img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .article > i {
    padding-top: 1em;
  }
  .footer-mobile {
    display: none;
  }
  .footer-contents {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    grid-template-columns: auto auto;

    color: hsl(220, 16%, 96%);
    grid-gap: 20px;
  }
  .icons {
    display: flex;
    width: 45%;
    justify-content: flex-start;
  }
  .footer-desktop {
    width: 100%;
    display: block;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
  .main-container {
    margin: 0em 5em;
  }
  .article > h3 {
    font-size: 1em;
  }
  .attribution {
    background-color: hsl(233, 26%, 24%);
    color: white;
  }
  .button-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5em;
    width: 90%;
    color: lightgray;
  }
  .button-footer > button {
    width: 30%;
  }
}
